# CO.RA.PAN-Tools .gitignore

# Analyseergebnisse und Daten
*.csv
*.png
*.docx

# Ergebnisse-Ordner komplett ignorieren
analysis/results/plots

# Temporäre Dateien
*.tmp
*.temp
*.log

# Python Bytecode
__pycache__/
*.py[cod]

# R-skript Dateien (z.B. RData, Rhistory)
*.RData
*.Rhistory
*.Rproj

# Sonstige
.DS_Store
Thumbs.db
.Rproj.user
